<a class="toggle" href='#' title="Skryj nebo zobraz vstupní pole" {{action "toggleInput"}}>{{#if showInput}}>{{else}}<{{/if}}</a>
{{#if showInput}}
    {{ticket-input id="newTicket" maxlength=4 placeholder="Zadej lístek výherce" title=inputTitle value=newTicket action="add" class=inputClass insert-newline="acceptChanges"}}
    <a class="toggle" href="#" title="Vyčistit" {{action "clear"}}>Vyčistit</a>
</span>
{{/if}}

{{#if validation}}
    <div class="error">{{validation}}</div>
{{/if}}

<div class="tickets">
    {{#each ticket in tickets}}
        {{ticket-box ticket=ticket action="remove"}}
    {{/each}}
</div>
